<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common :: header('zhiyi')}"></head>
<body style="background-image: url('img/73981919_p0.jpg');background-attachment:fixed;background-repeat: no-repeat;">

<!--主栏-->
<div th:insert="heart :: heart"></div>

<!--主页显示栏-->
<div class="main" id="about">
    <div class="banner-text-w3ls">

        <!--内容块-->
        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>


        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>

            <di>
                标签
            </di>

        </div>


        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>



        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>


        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>


        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>


        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>


        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>



        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>


        <div class="uk-margin-medium uk-card uk-card-default uk-card-body"
             style="border-radius:22px;background: rgba(255,255,255,.8);">

            <div>
                <h3 class="uk-heading-divider">Heading Divider</h3>
                <a uk-icon="clock"></a><a>2020-03-21</a>
            </div>
            <div>
                <p>内容</p>
            </div>
            <di>标签</di>

        </div>










        <!--页尾-->
        <div th:insert="footer :: footer"></div>
    </div>
</div>

</body>
</html>